<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>PaymentServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewServlet</servlet-name>
        <servlet-class>servlet.ReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>servlet.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProductDetailServlet</servlet-name>
        <servlet-class>servlet.GetProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>servlet.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartServlet</servlet-name>
        <servlet-class>servlet.ShowCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAllServlet</servlet-name>
        <servlet-class>servlet.RemoveAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <servlet-class>servlet.RemoveItemFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlusItem</servlet-name>
        <servlet-class>servlet.PlusItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>servlet.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavoriteServlet</servlet-name>
        <servlet-class>servlet.FavoriteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFavoriteServlet</servlet-name>
        <servlet-class>servlet.ShowFavoriteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFavoriteServlet</servlet-name>
        <servlet-class>servlet.RemoveFavoriteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileServlet</servlet-name>
        <servlet-class>servlet.ViewProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecentViewServlet</servlet-name>
        <servlet-class>servlet.RecentViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTracklistServlet</servlet-name>
        <servlet-class>servlet.GetTracklistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCartDetailServlet</servlet-name>
        <servlet-class>servlet.AddItemToCartDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavoriteDetailServlet</servlet-name>
        <servlet-class>servlet.FavoriteDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewServlet</servlet-name>
        <url-pattern>/Review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/AddItemToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartServlet</servlet-name>
        <url-pattern>/ShowCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAllServlet</servlet-name>
        <url-pattern>/RemoveAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemFromCartServlet</servlet-name>
        <url-pattern>/RemoveItemFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlusItem</servlet-name>
        <url-pattern>/PlusItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/Payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavoriteServlet</servlet-name>
        <url-pattern>/Favorite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFavoriteServlet</servlet-name>
        <url-pattern>/ShowFavorite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFavoriteServlet</servlet-name>
        <url-pattern>/RemoveFavorite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileServlet</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecentViewServlet</servlet-name>
        <url-pattern>/RecentView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTracklistServlet</servlet-name>
        <url-pattern>/GetTracklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProductDetailServlet</servlet-name>
        <url-pattern>/GetProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCartDetailServlet</servlet-name>
        <url-pattern>/AddItemToCartDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavoriteDetailServlet</servlet-name>
        <url-pattern>/FavoriteDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
