/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 13, 2018, 9:21:44 PM
    Author     : waran
*/

body {
      background-color: #2b2629;
      margin: 0;
}

.middle {
      position:fixed;
	top: 50%;
	left: 50%;
	margin-top: -134px; /*set to a negative number 1/2 of your height*/
	margin-left: -175px; /*set to a negative number 1/2 of your width*/
	font-family: 'Barlow Condensed', sans-serif;
}

.clearfix:after {
      content: "";
      display: table;
      clear: both;
}
                  
.enter {
      width: 350px;
      height: 50px;
      border-radius: 50px;
      padding-top: 2px;
      padding-bottom: 2px;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: bold;
      font-size: 20px;
      background-color: #2b2629;
      color: white;
      border: none; 
      letter-spacing: 2px;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      cursor: pointer;
}

.enter:hover {
      background-color: white; 
      color: #2b2629;
}

